.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
    flex-wrap: wrap;  
}

.title {
    color: #7EFADA;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #2BF5F3; 
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    animation: spin 1s linear infinite;
    margin: auto; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
