.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;  
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.title {
    margin-top: 100px;
    color: #7EFADA;
}

.link {
    text-decoration: none; 
    color: #9EFFA9;
    font-weight: bold; 
    margin: 0 15px; 
    font-size: 22px; 
}

.link:hover {
    color: white;
    transform: scale(1.25);
}

.paragraph {
    color: white;
    font-weight: bold;
    font-size: 22px;
}
